@charset "UTF-8";

*{
	margin: 0rem;
	overflow-x: hidden;
}

body{
	width: 100%;
	height: 150rem;
	background-color: rgb(17, 25, 31);
	
}

a{
	text-decoration: none;
	color:black;
}

.main-container{
	position: relative;
	width: 100%;
	height: 150rem;
	background-color: rgb(17, 25, 31);
}

.joint-container{
	display:flex;
	right:0;
	position:absolute;
	width:85%;
	height:100%;
	background-color: rgb(17, 25, 31);
}

.head-content{
	position: fixed;
	display: flex;
	right:0;
	width: 100%;
	height: 3rem;
	background-color: rgb(17, 25, 31);
	overflow: visible
}

.company-logo{
	width: 8.5rem;
	height: 2.7rem;
	margin-top: 0.8rem;
	margin-left: 1.5rem;
	margin-right: auto;
	
}

.data-content{
	width: 99%;
	margin-left:0.4rem;
	margin-top: 3.2rem;
	height: 97.5%;
	background-color: rgb(244,243,236);
	border-radius: 1rem;
}

.navigation{
	position: absolute;
	width: 12rem;
	height: 150rem;
	display: flex;
	justify-content: center;
	background-color: rgb(17, 25, 31);
	color:white;
}

.lang-menu-container{
	position:relative;
	overflow: visible;
	color:white;
}

.lang-menu-container ul{
	position:absolute;
	margin:0;
	margin-top:0.12rem;
	padding:0;
	background-color: white;
	border: 0.06rem solid #f8f8f8;
	border-radius: 0.2rem;
	box-shadow: 0rem 0.06rem 0.16rem rgba(0,0,0,0.2);
	display: none;
}

.lang-menu-container ul li {
	display: flex;
	justify-content: space-between;
}

.lang-menu-container ul li a{
	width:4.8rem;
	display: block;
	font-family:inter;
	font-size: 0.8rem;
	padding: 0.3rem 0.6rem;
}

.lang-menu-container ul li a:hover{
	background-color: #f2f2f2;
	cursor: pointer;
}

.lang-menu-container ul a:before{
	content: '';
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.7rem;
	vertical-align: middle;
	background-image: url(../images/nepal-flag.png);
	background-size: cover;
}

.lang-menu-container:hover ul{
	display: block;
}

.selected-lang{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	line-height: 2;
	width:5rem;
	font-family:inter;
	font-size: 0.8rem;
}

.selected-lang:before{
	content: '';
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	background-image: url(../images/usa-flag.png);
	background-size: cover;
	
}

nav{
	background-color: transparent;
	width: 100%;
	position:relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1.5rem;
	overflow: visible;
	
}

.notify-link{
	cursor: pointer;
	background-color: rgb(255,237,144);
	width: 2.1rem;
	height: 2.1rem;
	border:0;
	border-radius: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

nav i{
	font-size: 1rem;
	color: black;
}

.user-pic{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 2rem;
	transition: transform 0.3s ease-in-out;
	
}

.user-pic:hover{
	transform: scale(1.03);
	box-shadow: 0rem 0.3rem 0.18rem rgba(244,244,244,0.2);
}


.menu-container{
	position: absolute;
	top: 3.1rem;
	width: 14rem;
	right: 2rem;
	background-color: #fff;
	max-height:0;
	overflow: hidden;
	transition: max-height 0.3s;
	border-radius: 0.2rem;
	box-shadow: 0rem 0.06rem 0.16rem rgba(0,0,0,0.2);
}

.menu-container.open-menu{
	max-height: 15.3rem;
}

.menu{
	padding: 0.5rem;
	margin: 0.5rem;
}

.user-info{
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-info h2{
	font-family: inter;
	font-size: 1.2rem;
}

.user-info img{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	margin-right: 1rem;
}

.menu hr{
	border:0;
	width: 100%;
	height: 0.06rem;
	background-color: #ccc;
	margin: 1rem 0 0.6rem 0;
}

.menu-link{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	margin: 0.8rem 0;
	margin-bottom: 1rem;
	
}

.menu-link i{
	width:1.8rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	margin-right: 0.5rem;
	background-color: #e5e5e5;
	border-radius: 50%;
}

.menu-link p{
	width:100%;
	font-family: inter;
	font-size: 0.8rem;
}

.menu-link span{
	font-size: 0.8rem;
	font-weight: bold;
	margin-right: 0.35rem;
	transition: transform 0.5s;
}

.menu-link:hover span{
	transform: translateX(0.3rem);
}

.menu-link:hover p{
	font-weight:bold;
}