@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	font-family: inter;
	
}

html {
  scroll-behavior: smooth;
}

header .navigation a{
    color: white;
}


body{
	width: 100%;
	min-height: 200rem;
}

body::-webkit-scrollbar {
  display: none;
}

#scrollVideo {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}


.video-scroll-section{
	position: relative;
  	height: 1000vh;

}

.scroll-container{
	position: sticky;
	top:0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	
}

.scroll-down {
	position: absolute;
	height: 2rem;
	top: 9%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: black;
	font-size: 0.8rem;
	z-index: 1;
	transition: opacity 0.3s ease;
}

.scroll-down i {
	font-size: 1rem;
	margin-top: 0.5rem;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

header i, .header i {
    animation: none;
}


.intro-con{
	position: absolute;
	top: 85%;
	left: 7%;
	width: 40rem;
	height: 20rem;
	animation: appear 5s linear;
	animation-timeline: view();
	animation-range: entry 0 cover 40%;
	
}

.intro-con h1{
	font-size: 1.5rem;
	color: #F8B936;
}

.intro-con span{
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 1.5;
}

@keyframes appear{
	from{
		opacity: 0;
		scale: 0.5;
	}
	to{
		opacity: 1;
		scale: 1;
	}
}

.recommend-con{
	position: relative;
	width: 100%;
	height: 85rem;
	background-color: #4E0707;
	/*background-color: #4E0707;*/
}

.line{
	width: 0.1rem;
	height: 90rem;
	background-color: #F8B936;
	position: absolute;
	top: -3%;
	left: 38.5%;
}

.card.one{

	width: 20rem;
	height: 28rem;
	overflow: hidden;
	margin-left: 5rem;
	
}

.card.two{

	width: 20rem;
	height: 28rem;
	overflow: hidden;
	margin-left: 55rem;
	
}

.card.three{

	width: 20rem;
	height: 28rem;
	overflow: hidden;
	margin-left: 5rem;
	
}

.image-wrapper{
	width:100%;
	height: 180%;
	will-change: transform;
}

.image-wrapper img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.rec-desc{
	display: flex;
	gap: 0.2rem;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 20rem;
	height: 8rem;
	color: #F8B936;
	z-index: 999999;
	transition: transform 1s ease;
  	transform-origin: center;
  	will-change: transform;
	
}

.rec-desc.one{
	top: 20%;
	left: 30%;
}

.rec-desc.two{
	top: 50%;
	left: 47%;
}

.rec-desc.three{
	top: 83%;
	left: 30%;
}

.rec-desc h1{
	font-size: 2rem;
}

.rec-desc p{
	font-size: 1.2rem;
}


.view-btn{
	position: absolute;
	width: 7.5rem;
	height: 2rem;
	border: 0.2rem solid #F8B936;
	color: #F8B936;
	background: transparent;
    border-radius: 0.6rem;
}

.view-btn.one{
	top: 28%;
	left: 43%;
}

.view-btn.two{
	top: 58%;
	left: 60%;
}

.view-btn.three{
	top: 91%;
	left: 43%;
}

.space{
	height: 30vh;
	background-color: #4E0707;
}

.blur-con{
	display: flex;
	flex-direction: column;
	font-size: 1.8rem;
	z-index: 1;
	position: absolute;
	top: 40%;
	left: 37%;
	width: 20rem;
	height: 20rem;
	color: white;
	font-family: 'Times New Roman' serif; 
}

.blurShow.one{
	margin-left:2rem;
}

.blurShow.two{
	margin-left:7rem;
}

.blurShow.three{
	margin-left:12rem;
}

.blurShow.four{
	margin-left:7rem;
}

.blurShow.five{
	margin-left:2rem;
}

.blurShow.six{
	margin-left:5rem;
}

.blurShow{
	animation: autoBlurAnimation linear both;
	animation-timeline: view();
}

@keyframes autoBlurAnimation{
	0%{
		filter: blur(2.5rem);
	}
	45%, 55%{
		filter: blur(0rem);
	}
	100%{
		filter: blur(2.5rem);
	}
	
}

.img-box{
	position: absolute;
	top: 84.5%;
	left: 65%;
}

.autoRotate{
	width: 20rem;
	height: 20rem;

}

.autoRotate.rotate{
	animation: autoRotateAnimation 2s linear infinite;
}

@keyframes autoRotateAnimation{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
	
}




